@model IEnumerable<aLevel.Models.TweetSearchModel>
@{
    ViewBag.Title = "Search";
}

<form method="GET" action="DoSearch">
    <label for="query">Please enter a query: </label><input id="query" type="text" name="query"/>
</form>
