@model IEnumerable<aLevel.Models.TweetSearchModel>
@{
    ViewBag.Title = "Search";
}

<div class="row">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="GET" action="DoSearch">
                <div class="row">
                    <div class="form-group col-md-6">
                        <!--<label for="count">Sample size: </label>-->
                        <input id="count" type="number" name="count" min="1" max="450" value="200" class="form-control"/>
                    </div>
                    <div class="form-group col-md-6">
                        <!--<label for="type">Result type: </label>-->
                        <select id="type" name="type" class="form-control">
                            <option value="Mixed">Mixed</option>
                            <option value="Popular">Popular</option>
                            <option value="Recent">Recent</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <!--<label for="query">Please enter a query: </label>-->
                        <input id="query" type="text" name="query" class="form-control center-block" style="max-width: 100%"/>
                    </div> 
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary center-block" >Go!</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>