@model IEnumerable<aLevel.Models.TweetSearchModel>
@{
    ViewBag.Title = "Search";
}

<div class="row">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"></div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
            <a href="@Url.Action("Index","OAuth")">
                <img src="~/img/Logo.png" class="center-block" style="width: 100%">
            </a>
            <h2 style="text-align: center">Search Twitter</h2>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"></div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
            <form method="GET" action="DoSearch" class="center-block">
                <div class="form-group">
                    <h4>Count</h4>
                    <input id="count" type="number" name="count" min="1" max="450" value="200" class="form-control" style="max-width: 100%"/>
                    <small class="form-text text-muted">*Help goes here*</small>
                </div>
                <div class="form-group">
                    <h4>Result type</h4>
                    <select id="type" name="type" class="form-control" style="max-width: 100%">
                        <option value="Mixed">Mixed</option>
                        <option value="Popular">Popular</option>
                        <option value="Recent">Recent</option>
                    </select>
                    <small class="form-text text-muted">*Help goes here*</small>
                </div>
                <div class="form-group">
                    <h4>Query</h4>
                    <input id="query" type="text" name="query" class="form-control center-block" style="max-width: 100%" />
                    <small class="form-text text-muted">*Help goes here*</small>
                </div>
                <button type="submit" class="btn btn-blue btn-lg center-block">Go!</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"></div>
    </div>
</div>