.btn-blue {
    background-color: #04AEEC;
    color: white;
    border-color: #04AEEC;
    width: 50%
}
.btn-blue:focus {
    background-color: #A3DFEF;
    color: white;
    border-color: #A3DFEF; 
}
.btn-blue:hover {
    background-color: #1dcaff;
    color: white;   
    border-color: #1dcaff; 
}

@media(max-width: 2000px) {
    .h2-res {
        font-size: 60px;
    }
    .Twit-logo {
        width: 3%
    }
}

@media(max-width: 1000px) {
    .h2-res {
        font-size: 60px;
    }
    .Twit-logo {
        width: 3%
    }
}

@media(max-width: 800px) {
    .h2-res {
        font-size: 50px;
    }
    .Twit-logo {
        width: 3%
    }
}

@media(max-width: 700px) {
    .h2-res {
        font-size: 40px;
    }
    .Twit-logo {
        width: 5%
    }
}

@media(max-width: 500px) {
    .h2-res {
        font-size: 35px;
    }
    .Twit-logo {
        width: 6%
    }
}

@media(max-width: 450px) {
    .h2-res {
        font-size: 30px;
    }
    .Twit-logo {
        width: 7%
    }
}
