@{
    ViewBag.Title = "Authorizing Application";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <img src="~/img/Logo.png" class="img-res center-block">

        <h2 class="text-center h2-res">Authorise with OAuth</h2>
        
    </div>

</div> 

<div class="row" style="height: 100%;margin: 5% 0">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        @using (Html.BeginForm("Begin", "OAuth"))
        {
            <button class="btn btn-blue btn-lg center-block" type="submit" style="width: 50%">Begin</button>
        }
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>

</div>
