
@{
    Layout = null;
}
<!-- <script src="//d3js.org/d3.v3.min.js"></script> -->

<!DOCTYPE html>
<meta charset="utf-8">
<title>Pie Chart</title>
<body>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>

    var width = 960,
        height = 500,
        radius = Math.min(width, height) / 2 - 10;

    var data = [{ "name": "one", "value": 20 },
                { "name": "two", "value": 40 },
                { "name": "three", "value": 50 },
                { "name": "four", "value": 60 },
                { "name": "five", "value": 70 }];

    var color = d3.scale.ordinal()
        .domain(["one", "two", "three", "four", "five"])
        .range(["#ff0000", "#ee0000", "#dd0000", "#cc0000", "#bb0000"]);

    var arc = d3.svg.arc()
        .outerRadius(radius);

    var pie = d3.layout.pie()
        .value(function (d) { return d.value; });

    var svg = d3.select("body")
        .append("svg")
        .datum(data)
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var arcs = svg.selectAll("g.arc")
        .data(pie)
        .enter().append("g")
        .attr("class", "arc")

    arcs.append("path")
        .attr("fill", function(d, i) { return color(i); })
        .transition()
        .ease("bounce")
        .duration(2000)
        .attrTween("d", tweenPie)
        .transition()
        .ease("elastic")
        .delay(function(d, i) { return 2000 + i * 50; })
        .duration(750)
        .attrTween("d", tweenDonut);


    arcs.append("text")
        .attr("transform", function (d) {
            d.innerRadius = 0;
            d.outerRadius = radius;
            return "translate(" + arc.centroid(d) + ")";
        })
        .attr("text-anchor", "middle")
        .text(function (d, i) { return data[i].name; });

    function tweenPie(b) {
        b.innerRadius = 0;
        var i = d3.interpolate({startAngle: 0, endAngle: 0}, b);
        return function(t) { return arc(i(t)); };
    }

    function tweenDonut(b) {
        b.innerRadius = radius * .6;
        var i = d3.interpolate({innerRadius: 0}, b);
        return function(t) { return arc(i(t)); };
    }

</script>
</body>